      <hr>

    <footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="http://tecnicume.blogspot.it">&copy; Marco Berri - 2015</a></p>
      </div>
    </footer>




<!-- Modal -->

<div class="modal fade" id="aboutModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <strong>Hardware</strong><br/>
        Meteo Station : <a href="http://www.amazon.it/La-Crosse-Technology-WS1640-meteorologica/dp/B00JMANZLA">La Crosse Technology WS1640</a><br/>
        Meteo Station connected to <a href="https://www.raspberrypi.org/">Raspberry PI</a><br/>
        <br/>
        <strong>Software</strong><br/>
        Server: Ubuntu 14.10 on Linode.com<br/>
        Source Service to send data from Raspeberry PI to Site : <a href="https://github.com/marcoberri/mbmeteolacrossecaputre">github</a> in Java<br/>
        Source this site: <a href="https://github.com/marcoberri/mbmeteolacrosse">github</a> in <a href="https://nodejs.org/">NodeJS</a><br/>
        Source Batch to generate graph in crontab <a href="https://github.com/marcoberri/mbmeteolacrossegeneratechart">github</a> in Java<br/>
        Data stored in <a href="https://www.mongodb.org/">MongoDB</a> <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="statusModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">System Status</h4>
      </div>
      <div class="modal-body">
        <strong>Hardware Status</strong><br/>
	<% if(system != null) {%>
	<strong>Last check </strong> : <%=system.ts%> <br/>
	<strong>Battery Rain</strong> : <%if(system.BATR == 1){ %> <span style="color:green"><%= system.BATR%></span> <%}else{%><span style="color:red"><%= system.BATR%></span>   <%}%><br/>
	<strong>Battery Wind</strong> : <%if(system.BATW == 1){ %> <span style="color:green"><%= system.BATW%></span> <%}else{%><span style="color:red"><%= system.BATW%></span>   <%}%><br/>
	<strong>Battery 1</strong> : <%if(system.BAT1 == 1){ %> <span style="color:green"><%= system.BAT1%></span> <%}else{%><span style="color:red"><%= system.BAT1%></span>   <%}%><br/>
	<strong>Battery 2</strong> : <%if(system.BAT2 == 1){ %> <span style="color:green"><%= system.BAT2%></span> <%}else{%><span style="color:red"><%= system.BAT2%></span>   <%}%><br/>
	<strong>Battery 3</strong> : <%if(system.BAT3 == 1){ %> <span style="color:green"><%= system.BAT3%></span> <%}else{%><span style="color:red"><%= system.BAT3%></span>   <%}%><br/>
	<strong>Battery 4</strong> : <%if(system.BAT4 == 1){ %> <span style="color:green"><%= system.BAT4%></span> <%}else{%><span style="color:red"><%= system.BAT4%></span>   <%}%><br/>
	<strong>Battery 5</strong> : <%if(system.BAT5 == 1){ %> <span style="color:green"><%= system.BAT5%></span> <%}else{%><span style="color:red"><%= system.BAT5%></span>   <%}%><br/>
<%}else{%>
<b>No Data Found</b>
<%}%>
<br/>
<br/>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-549048-18', 'auto');
  ga('send', 'pageview');

</script>
