<!DOCTYPE html>
<html lang="en">
  <head>
<% include includes/head %>

  </head>

  <body role="document">


<% include includes/nav %>

<% include includes/maintitle %>


  <div class="container">

<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Now</a></li>
  <!--li><a href="#week" data-toggle="tab">Week</a></li>
  <li><a href="#month" data-toggle="tab">Month</a></li>
  <li><a href="#year" data-toggle="tab">Year</a></li-->
</ul>
</div>
    


<div class="container">
	<div class="tab-content">
  		<div class="tab-pane fade in active" id="home">

		      <div class="row" style="width:200">
			<div class="col-md-6" >
				<p>
<dl class="dl-horizontal">
  <dt>TS:</dt>
  <dd><%= actual.ts %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Temperature:</dt>
  <dd><%= actual.T1 %>&deg;</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Temperature Max/Min:</dt>
  <dd> <%= actual.T1MAX %>&deg; / <%= actual.T1MIN %>&deg; (24H)</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Humidity:</dt>
  <dd><%= actual.H1 %>%</dd>
</dl>


<dl class="dl-horizontal">
  <dt>Humidity Max/Min:</dt>
  <dd> <%= actual.H1MAX %>% / <%= actual.H1MIN %>% (24H)</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Pressure:</dt>
  <dd><%= actual.PRESS %> mBar</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Pressure Max/Min:</dt>
  <dd> <%= actual.PRESSMAX %> mBar / <%= actual.PRESSMIN %> mBar (24H)</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Wind direction:</dt>
  <dd><%= actual.WD %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Wind speed:</dt>
  <dd><%= actual.WS %> m/s</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Windchill temperaturte:</dt>
  <dd><%= actual.WC %> &deg;</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Windchill  Max/Min:</dt>
  <dd><%= actual.WCMAX %>&deg; / <%= actual.WCMIN %>&deg; (24H)</dd>
</dl>


                                    </p>


			    <div id="chartPRESS24" style="margin-top:20px;padding:5 5 5 5;height: 400px;"></div>


</div>
			<div class="col-md-6">
			    <div id="chartT24" style="margin-top:30px;padding:5 5 5 5;height: 400px;"></div>
			    <div id="chartH24" style="margin-top:30px;padding:5 5 5 5;height: 400px;"></div>
			</div>
	
			  <div class="tab-pane fade" id="week">week</div>
			  <div class="tab-pane fade" id="month">month</div>
		  <div class="tab-pane fade" id="year">year</div>
	</div>
 </div>







<% include includes/footer %>

</div>





<% include includes/js %>

  </body>
</html>

