<!DOCTYPE html>
<html lang="en">
  <head>
<% include includes/head %>

  </head>

  <body role="document">


<% include includes/nav %>

<% include includes/maintitle %>


  <div class="container">

<div>
	<a href="/" class="btn btn-info btn-lg disable" role="button">Last 24h</a>
	<a href="/7day" class="btn btn-info btn-lg active" role="button">Last 7 Day</a>
	<a href="/30day" class="btn btn-info btn-lg active" role="button">Last 30 Day</a>
	<a href="/365day" class="btn btn-info btn-lg active" role="button">Last year</a>
</div>    


<div class="container">
	<div class="tab-content">

		      <div class="row" style="width:200">
			<div class="col-md-6" >
				<p>
<dl class="dl-horizontal">
  <dt>TS:</dt>
  <dd><%= actual.ts %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Temperature:</dt>
  <dd><%= actual.T1 %>&deg;</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Temperature Max/Min:</dt>
  <dd> <%= actual.T1MAX %>&deg; / <%= actual.T1MIN %>&deg; (24H)</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Humidity:</dt>
  <dd><%= actual.H1 %>%</dd>
</dl>


<dl class="dl-horizontal">
  <dt>Humidity Max/Min:</dt>
  <dd> <%= actual.H1MAX %>% / <%= actual.H1MIN %>% (24H)</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Pressure:</dt>
  <dd><%= actual.PRESS %> mBar</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Pressure Max/Min:</dt>
  <dd> <%= actual.PRESSMAX %> mBar / <%= actual.PRESSMIN %> mBar (24H)</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Wind direction:</dt>
  <dd><%= actual.WD %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Wind speed:</dt>
  <dd><%= actual.WS %> m/s</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Windchill temperature:</dt>
  <dd><%= actual.WC %> &deg;</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Windchill  Max/Min:</dt>
  <dd><%= actual.WCMAX %>&deg; / <%= actual.WCMIN %>&deg; (24H)</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Rain:</dt>
  <dd><%= actual.RC %> mm</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Rain  Max/Min:</dt>
  <dd><%= actual.RCMAX %> mm / <%= actual.RCMIN %>mm (24H)</dd>
</dl>


                                    </p>


			    <div id="chartPRESS24" style="margin-top:40px;padding:5 5 5 5;height: 450px;"><div class="preloader">&nbsp;</div></div>


</div>

<div class="row" style="width:200">

			<div class="col-md-6">
			    <div id="chartT24" style="margin-top:30px;padding:5 5 5 5;height: 500px;"><div class="preloader">&nbsp;</div></div>
			</div>
			<div class="col-md-6">
			    <div id="chartH24" style="margin-top:30px;padding:5 5 5 5;height: 400px;"><div class="preloader">&nbsp;</div></div>
			</div>
		 </div>

<div class="row" style="width:200">

			<div class="col-md-6">
			    <div id="chartRC24" style="margin-top:30px;padding:5 5 5 5;height: 400px;"><div class="preloader">&nbsp;</div></div>

			</div>
			<div class="col-md-6">
			    <div id="chartWC24" style="margin-top:30px;padding:5 5 5 5;height: 400px;"><div class="preloader">&nbsp;</div></div>
			</div>
</div>







<% include includes/footer %>

</div>





<% include includes/js24 %>

  </body>
</html>

